@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Source%20Sans%20Pro);
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

body {
  font-family: "source sans pro";
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
}
h1,
h2,
h3 {
  font-family: "Work Sans";
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 10px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
}
.hero {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  min-height: 77vh;
}
section.hero .h-95 {
  min-height: 53vh;
}
