.root {
  height: 100vh;
  display: flex;
  background: #fff url(./assets/Frame4.jpg) no-repeat center/cover;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.content {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}
.flex {
  display: flex;
  width: auto;
  height: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 27% 73% 31% 69% / 67% 36% 64% 33% ;
  overflow: hidden;
}
span {
  color: var(--accent-2);
}
.card {
  width: 65%;
}
.card p:first-child {
  font-size: 20px;
  color: #000;
}
.logo {
  width: 100%; /* Make sure the image fills the container */
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container without stretching */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
