.root {
  height: 100vh;
  display: flex;
  background: #fff url(./assets/Frame4.jpg) no-repeat center/cover;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.content {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}
.flex {
  display: flex;
  width: auto;
  height: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 27% 73% 31% 69% / 67% 36% 64% 33% ;
  overflow: hidden;
}
span {
  color: var(--accent-2);
}
.card {
  width: 65%;
}
.card p:first-child {
  font-size: 20px;
  color: #000;
}
.logo {
  width: 100%; /* Make sure the image fills the container */
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Portfolio Section */
.Portfolio{
  height: 100vh;
  background: #fff url(./assets/Portfolio-section.png) no-repeat center/cover;
  text-align: center;

}
.Portfolio p{
  font-size: 2em;
  opacity: .5;
  color:#000;
  padding-top: 2em;
}
.Portfolio h2{
  font-size: 8em;
  line-height: .8em;
}
.card-portfolio {
  width: 350px;
  height: 450px;
  margin: 50px auto 0;
  background-color: var(--accent-3);
  border-radius: 8px;
  z-index: 1;
 }
 
 .tools {
  display: flex;
  align-items: center;
  padding: 9px;
 }
 
 .circle {
  padding: 0 4px;
 }
 
 .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }
 
 .red {
  background-color: #ff605c;
 }
 
 .yellow {
  background-color: #ffbd44;
 }
 
 .green {
  background-color: #00ca4e;
 }
 